<h1>Here are all the Songs!</h1>

<ul>
    <% @songs.each do |song|%>
        <li><%= song.name %></li>
    <% end %>
</ul>

<%= " the squid - displays content to the screen" %>

<% "ice cream cone - it is for background logic (iterations/if/end)"  %>
<% counter = 1%>
<% counter += 10 %>
<%= counter %>
